# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/component/expresume/resume.jsx
public/logo.PNG
public/logo2.png
src/component/expresume/ExpresumePage.jsx
src/component/fresherResume/fresher.jsx
src/firebase.js
src/component/animation/blurtext.jsx
src/component/animation/spit.jsx
